#innerheader{
    background-color: #a03030;
    width: 100%;
    height: 5rem;
    padding: 10px 10px 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    border-bottom: black solid;
}

#headername{
    color: white;
    font-size: 31px;
    margin-left: 94px;
    font-family: fantasy;
    animation: header 2s infinite;
    display: block;
    position: relative;
    top: -11%;
}

@KeyFrames header{
    FROM{color: white;}
    TO{color: darkgrey;}
}

#headermenu{
    width: 68px;
    margin-left: auto;
    cursor: pointer;
    display: block;
    position: relative;
    top: -92px;
    left: -28px;
}

#headersidemenu{
    background-color: #a03030;
    width: 26rem;
    height: 100%;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 3;                                                                       
    border-left: black solid;
    border-top: black solid;
    display: none;
}

#headerbutton{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: -25px;
    margin-top: 70px;
    height: 57px;
}

#headerbutton:hover{
    color: #a03030;
    background-color: white;
}

#headerfooter{
    width: 100%;
    height: 8rem;
    background-color: white;
    position: absolute;
    bottom: 6rem;
    border-top: black solid;
}

#headercopyright{
    text-align: center;
    font-size: 23px;
    margin-top: 46px;
    font-family: cursive;
}

#contenttitle{
    margin-top: 141px;
}

#innercontenttitle{
    text-align: center;
    color: #a03030;
    font-size: 42px;
    background-color: darkgray;
    padding: 10px 10px 10px;
    border-radius: 42px;
}

#innercontentsubtitle{
    margin: 0 auto;
    background-color: darkred;
    margin-top: -42px;
    height: 3rem;
    width: 28rem;
    font-size: 22px;
    color: white;
    text-align: center;
    border-radius: 35px;
    margin-bottom: 2%;
}

#infoboxes{
    text-align: center;
}

.infobox{
    display: inline-block;
    background-color: darkgrey;
    width: 13rem;
    text-align: center;
    padding: 45px 17px 45px;
    border-radius: 68px;
    border: darkgrey solid;
    cursor: pointer;
    font-size: 16px;
    font-family: fantasy;
    
}

#ajaxpage{
    background-color: darkgrey;
    width: 28rem;
    height: 15rem;
    margin: 0 auto;
    margin-top: 3rem;
    border: darkgrey solid;
    border-radius: 11px;

}

#ajaxpagemsg{
    font-size: 18px;
    font-family: sans-serif;
}