#searchtitle{
    margin: 0 auto;
    margin-top: 13rem;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 32px;
    font-family: cursive;
}

#searchbar{
    margin: 0 auto;
    width: 21rem;
}

#search{
    border: darkgrey solid;
    background-color: darkgrey;
    height: 38px;
    width: 219px;
    text-align: center;
}

#searchenter{
    background-color: #a03030;
    border: #a03030 solid;
    height: 46px;
    margin-left: -4px;
    width: 84px;
}

#videocontent{
    margin-top: 5rem;
}
