
#videolisttitle{
    margin: 0 auto;
    margin-top: 12rem;
    text-align: center;
    width: 16rem;
    background-color: darkgrey;
    border: darkgrey solid;
    border-radius: 19px;
    font-size: 28px;
    font-family: fantasy;
}

#videolist{
    border: #a03030 solid;
    width: 42rem;
    height: 9rem;
    margin: 0 auto;
    border-radius: 20px;
}

#arrows{
    height: 78px;
    margin-top: 33px;
    cursor: pointer;
}

.videobox{
    border: black solid;
    width: 132px;
    height: 95px;
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 21px;
    cursor: pointer;
}

#videocontent{
    margin-top: 5rem;
}

.videoimage{
    width: 132px;
    height: 95px;
}