#videotitle{
    text-align: center;
    font-size: 34px;
    font-family: fantasy;
}

#video{
    margin: 0 auto; 
    position: absolute; 
    left: 0; 
    right: 0;
}

#videodescbutton{
    margin: 0 auto;
    margin-top: 36rem;
    display: block;
    background-color: #a03030;
    border: #a03030 solid;
    padding: 20px 32px 20px;
    border-radius: 40px;
    font-family: cursive;
    cursor: pointer;   
}

#videodesc{
    display: none;
    margin: 0 auto;
    background-color: darkgrey;
    height: 20rem;
    width: 33rem;
    margin-top: -32rem;
    position: relative;
    border-radius: 34px;
}

#videodescclose{
    width: 38px;
    margin-left: 29rem;
    margin-top: 18px;
    cursor: pointer;
}

#videodesctext{
    text-align: center;
    font-family: monospace;
}
